# Infrastructure & CI
vpc/
postgresql/
ec2/
.git/
sonar*
.gitignore
sonar-project.properties

# Test & Build Artifacts
coverage/
scripts/
*.log

# Local dependencies (CRITICAL)
node_modules/
npm-debug.log

# OS Junk
.DS_Store
Thumbs.db